html, body {
    height: 100%;
    min-height: 100%;
}

body.error {
    background: #121212;
    color: #dfdfdf;
}

body.error .wrap {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body.error .wrap > div h1 {
    padding: 40px;
    text-transform: uppercase;
}

body.error .wrap > div h1 i {
    display: block;
}

body.error .wrap > div {
    background: #212121;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}

.slider-wrapper { position: relative; padding: 0 24px; }
.nvs-nav { top: 45%; }

.navbar-brand {
    font-weight: bold;
}

.navbar-brand > span {
    font-weight: normal;
}

.container.top { padding-top: 32px; }

.jumbotron {
    background: #292929;
}

.jumbotron.small {
    padding: 20px 0 30px 0;
}

.jumbotron h1 {
    color: #F2E6B6;
}

.jumbotron h1 span {
    font-weight: normal;
}

.jumbotron p {
    color: #8F9E8B;
}

footer .text-right a img {
    height: 20px;
    opacity: .6;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

footer .text-right a:hover img {
    opacity: 1;
}

.navbar-default{
    background: #fff;
}

.section h2 {
    margin-bottom: 24px;
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .jumbotron .row > div { padding: 0; }

    .jumbotron.small {
        padding: 20px 12px 30px 12px;
    }
}

pre {
    background: #F2E6B6;
        color: #292929;
}